Repository skyclouds2001/rollup-template-sky, changes with the labels that .github/labeler.yml gives for each.
All labels: system, source, test

build: migrate pnpm version
  package.json
Labels: system

chore: remove project inner package manager
  .changeset/clever-crabs-leave.md
  package.json
  pnpm-lock.yaml
Labels: system

Revert "build(deps): bump the all group with 2 updates"
  .github/workflows/ci.yml
  .github/workflows/release.yml
Labels: system

chore: resolve dependencies
  .changeset/honest-planes-compare.md
  pnpm-lock.yaml
Labels: system

build: update coderabbit config
  .changeset/wise-books-sin.md
  .coderabbit.yaml
Labels: system

feat: release v1.6.0
  .changeset/clever-crabs-leave.md
  .changeset/honest-planes-compare.md
  .changeset/wise-books-sin.md
  CHANGELOG.md
  package.json
Labels: system

build: update engine limit
  .changeset/fluffy-emus-marry.md
  package.json
Labels: system

feat: update usage for alias plugin & virtual plugin
  .changeset/dirty-mirrors-tell.md
  jsconfig.json
  rollup.config.js
  src/index.ts
  src/sample.ts
  src/virtual-module.d.ts
  tsconfig.json
Labels: system, source

build: remove useless jsconfig.json file
  .changeset/nasty-lamps-wink.md
  jsconfig.json
Labels: system

feat: update usage for replace & json plugin
  .changeset/real-olives-sit.md
  rollup.config.js
  src/env.d.ts
  src/index.ts
  src/sample.json
  tsconfig.json
Labels: system, source

feat: update usage for node-resolve & commonjs plugin
  .changeset/shy-apes-sip.md
  rollup.config.js
  src/env.d.ts
Labels: system, source

feat: add support for e2e test
  .changeset/spicy-stingrays-change.md
  .github/workflows/ci.yml
  eslint.config.js
  package.json
  playwright.config.ts
  pnpm-lock.yaml
  tests/e2e/index.test.ts
  tests/unit/index.test.ts
  tsconfig.node.json
  vitest.config.ts
Labels: system, test

feat: more update for typescript & terser
  .changeset/flat-news-relax.md
  rollup.config.js
Labels: system

feat: add rollup image plugin
  .changeset/six-terms-argue.md
  package.json
  pnpm-lock.yaml
  rollup.config.js
Labels: system

feat: add rollup yaml plugin
  .changeset/brave-geese-behave.md
  package.json
  pnpm-lock.yaml
  rollup.config.js
  src/env.d.ts
  src/index.ts
  src/sample.ts
  src/sample.yaml
Labels: system, source

feat: add rollup graphql plugin
  .changeset/fresh-humans-camp.md
  package.json
  pnpm-lock.yaml
  rollup.config.js
Labels: system

feat: add rollup wasm plugin
  .changeset/eleven-masks-leave.md
  package.json
  pnpm-lock.yaml
  rollup.config.js
Labels: system

fix: typo
  .changeset/strong-bugs-promise.md
  tests/e2e/index.test.ts
Labels: system, test

feat: add rollup dsv plugin
  .changeset/warm-chefs-bow.md
  package.json
  pnpm-lock.yaml
  rollup.config.js
Labels: system

build: allow lint-staged pass empty commit
  .changeset/nasty-coats-flash.md
  .husky/pre-commit
Labels: system

build: update deps
  pnpm-lock.yaml
Labels: system

build: add changeset files
  .changeset/metal-ears-smoke.md
Labels: system

build: update config for vite for upgrade to v6
  .changeset/calm-crews-sell.md
  playground/vite.config.ts
Labels: system

feat: release v1.7.0
  .changeset/brave-geese-behave.md
  .changeset/calm-crews-sell.md
  .changeset/dirty-mirrors-tell.md
  .changeset/eleven-masks-leave.md
  .changeset/flat-news-relax.md
  .changeset/fluffy-emus-marry.md
  .changeset/fresh-humans-camp.md
  .changeset/metal-ears-smoke.md
  .changeset/nasty-coats-flash.md
  .changeset/nasty-lamps-wink.md
  .changeset/real-olives-sit.md
  .changeset/shy-apes-sip.md
  .changeset/six-terms-argue.md
  .changeset/spicy-stingrays-change.md
  .changeset/strong-bugs-promise.md
  .changeset/warm-chefs-bow.md
  CHANGELOG.md
  package.json
Labels: system

ci: remove useless permission
  .changeset/angry-pets-teach.md
  .github/workflows/ci.yml
  .github/workflows/new-contributor.yml
Labels: system

build: add codeowners file
  .changeset/odd-dancers-visit.md
  .github/CODEOWNERS
Labels: system

ci: remove useless permission
  .changeset/angry-pets-teach.md
  .github/workflows/ci.yml
  .github/workflows/new-contributor.yml
Labels: system

build: add codeowners file
  .changeset/odd-dancers-visit.md
  .github/CODEOWNERS
Labels: system

docs: format
  README.md
Labels: system

style: move assets files
  src/assets/sample.json
  src/assets/sample.yaml
  src/index.ts
Labels: source

build: fix ci
  rollup.config.js
Labels: system

style: move assets files
  src/assets/sample.json
  src/assets/sample.yaml
  src/index.ts
Labels: source

build: fix ci
  rollup.config.js
Labels: system

docs: format
  README.md
Labels: system

build: simplify eslint-import-resolver-typescript plugin config
  .changeset/warm-chefs-type.md
  eslint.config.js
Labels: system

build: simplify eslint-import-resolver-typescript plugin config
  .changeset/warm-chefs-type.md
  eslint.config.js
Labels: system

build: update prettier config
  .changeset/pink-cougars-grab.md
  prettier.config.js
Labels: system

build: update lint script
  .changeset/cold-keys-jog.md
  package.json
Labels: system

build: update eslint config
  .changeset/modern-hornets-fly.md
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/feature-request.md
  eslint.config.js
  package.json
  pnpm-lock.yaml
Labels: system

build: update lint script
  .changeset/cold-keys-jog.md
  package.json
Labels: system

.github/labeler.yml:

system:
  - changed-files:
    - any-glob-to-any-file:
      - .changeset/**
      - .github/**
      - .husky/**
      - playground/**
      - '*'

source:
  - changed-files:
    - any-glob-to-any-file:
      - src/**

test:
  - changed-files:
    - any-glob-to-any-file:
      - tests/**
